.PageTitle {
    display: flex;
    align-items: center;
    padding: 15px;
    background: #caf0f8;
    height: 70px;
    color: #00b4d8;
    width: 1200px;

    h1 {
        margin: 0;
        font-weight: 400;
    }
}