@font-face {
  font-family: 'Oswald-Regular';
  src: url('./_assets/fonts/Oswald-Regular.ttf');
}

$backgroundColor: #274670;


body {
  background-color: $backgroundColor;
  margin: 0
}

* {
  font-family: 'Oswald-Regular', monospace;
}